/* Start Variables */
:root {
    --purple: #8e44ad;
    --red: #c0392b;
    --orange: #f39c12;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --light-white: #ccc;
    --light-bg: #f5f5f5;
    --border: 0.1rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  /* End Variables */
  
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    text-transform: capitalize;
    font-family: "Cairo", sans-serif;
    background-color: var(--light-bg);
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 20rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 41, 184);
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  /* Start .header_2 */
  .header {
    margin-top: -9px;
    position: relative;
    height: 57px;
    z-index: 100;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .container .logo {
    color: #8e44ad;
  }
  .header .container .logo img {
    height: 88px;
  }
  .header .navbar a {
    padding: 0 10px;
    color: #7d6666;
  }
  @media (max-width: 767px) {
    .header .navbar a {
      display: none;
    }
  }
  .header .navbar a:hover {
    color: #8e44ad;
    text-decoration: underline;
  }
  .header a {
    font-size: 20px;
  }
  @media (max-width: 767px) {
    .header a {
      font-size: 16px;
    }
  }
  .header ul {
    display: flex;
    align-items: center;
  }
  .header ul li {
    padding: 0 8px;
    font-size: 25px;
  }
  .header ul li a {
    color: black;
  }
  .header ul li a:hover {
    color: #8e44ad;
  }
  .header ul li:hover {
    color: #8e44ad;
    cursor: pointer;
  }
  .header ul span {
    font-size: 25px;
  }
  .header .barn {
    display: none;
  }
  @media (max-width: 767px) {
    .header ul li {
      font-size: 16px;
    }
    .header ul span {
      font-size: 16px;
    }
    .header .navbar {
      position: absolute;
      top: 76px;
      left: 0;
      background-color: white;
      width: 100%;
      border: 1px solid black;
      transform: translateY(-170%);
    }
    .header .navbar a {
      display: block;
      margin-top: 19px;
      font-size: 18px;
      margin-left: 7px;
    }
    .header .navbar .icon_4 {
      margin-bottom: 10px;
    }
    .header .open {
      transform: translateY(0);
    }
    .header .barn {
      display: block;
    }
  }
  
  /* End .header_2 */


    /* start footer */
    .footer {
      background-color: #eee;
      margin-top: 40px;
    }
    .footer .box-container {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 40px;
    }
    .footer .box-container .box h3 {
      text-transform: uppercase;
      font-size: 19px;
      color: var(--black);
      padding: 15px 0;
    }
    .footer .box-container p {
      line-height: 1.5;
    }
    .footer .box-container .box a {
      display: block;
      color: var(--light-color);
      padding: 5px 0;
    }
    .footer .box-container .box a:hover {
      color: var(--purple);
    }
    .footer .box-container .box i {
      color: var(--purple);
      padding-right: 5px;
    }
    .credit {
      background-color: #333;
      height: 90px;
      text-align: center;
      font-size: 20px;
      color: var(--light-white);
      border-top: var(--border);
      padding-top: 30px;
      margin: 0;
    }
    .credit span {
      color: var(--purple);
    }
    /* end footer */
    
    /* start headind   الصوره اللي في اول الموقع  */
.heading {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  background: url(../image/slider-02.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 25px;
}
.heading h3 {
  font-size: 48px;
  color: var(--light-bg);
  text-transform: uppercase;
}
.heading p {
  font-size: 2.3rem;
  color: var(--light-color);
}
.heading p a {
  color: var(--purple);
}
.heading p span {
  color: #bcbbf9;
}


.message{
  position: sticky;
  top:0;
  margin:0 auto;
  max-width: 1200px;
  background-color: var(--white);
  padding:2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  gap:1.5rem;
}

.message span{
  font-size: 2rem;
  color:var(--black);
}

.message i{
  cursor: pointer;
  color:var(--red);
  font-size: 2.5rem;
}

.message i:hover{
  transform: rotate(90deg);
}

/* start headind  */